<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
					<p class="text-muted">We study how evolution has produced a diversity of life. We are interested in learning about the actual history of life on Earth as well as the general properties of evolution that have contributed to these historical patterns. The type of questions the Dunn Lab asks require field (marine), laboratory, and computational work. Our research falls into several domains.</p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/siphonophore.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Siphonophores</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Siphonophores are unique marine animals found throughout the oceans of the world. They are colonial - each siphonophore starts as a single embryo that asexually produces many genetically identical, physiologically integrated bodies. The many bodies in a siphonophore are each specialized for particular functions, such as feeding or swimming. We study the morphology, evolution, and development of siphonophores to understand this unique functional specialization.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Animal phylogenetics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Methods and tools</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Evolution of gene expression</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The siphonophores are unique marine animals found throughout the oceans of the world. They are colonial - each siphonophore starts as a single embryo that asexually produces many genetically identical, physiologically integrated bodies. The many bodies in a siphonophore are each specialized for particular functions, such as feeding or swimming. We study the morphology, evolution, and development of siphonophores to understand this unique functional specialization.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>