<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
					<p class="text-muted">We study how evolution has produced a diversity of life. We are interested in learning about the actual history of life on Earth as well as the general properties of evolution that have contributed to these historical patterns. The type of questions we ask require field (marine), laboratory, and computational work. Our research falls into several domains.</p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/siphonophore.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Siphonophores</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="http://siphonophores.org">Siphonophores</a> are unique marine animals found throughout the oceans of the world. They are colonial - each siphonophore starts as a single embryo that asexually produces many genetically identical, physiologically integrated bodies. The many bodies in a siphonophore are each specialized for particular functions, such as feeding or swimming. We study the morphology, evolution, and development of siphonophores to understand this unique functional specialization.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/phylogeny.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Animal phylogenetics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Phylogenetics is the study of evolutionary relationships. We develop new methods and tools for understanding phylogenetic relationships, and apply these tools to animals to understand the evolution of complex traits. We are particularly interested in deep animal phylogeny, but also work on subgroups of animals including cnidarians and molluscs.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tools.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Methods and tools</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Many of the questions we are work on require new computational methods and tools. We develop and implement new methods, connect existing analysis tools in new ways, and are particularly interested in engineering analyses so that they are open, transparent, reproducible, and easy to extend. Our data analysis tools are available at <a href="https://bitbucket.org/caseywdunn">bitbucket</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/expression.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Evolution of gene expression</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We sequence transcriptomes to build phylogenies and to identify genes that are differentially expressed between tissues and developmental stages. We have integrated these two approaches to now study the <a href="http://arxiv.org/abs/1302.2978">evolution of differential gene expression</a>. This work provides new ways to understand the relationships between genome and phenotype evolution.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/zoology.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Zoology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In addition to the specific domains highlighted above, we are very interested in the basic biology of animals. Since many of the animals we work on are so poorly known, these studies include descriptions of lifecycles, natural history, development, alpha taxonomy, functional biology, and morphology.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>