<!-- Publications Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                </div>
            </div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Kantor R, Steingrimsson J, Fulton J, Novitsky V, Howison M, Gillani F, Bhattarai L, MacAskill M, Hague J, Guang A, Khanna A, Dunn C, Hogan J, Bertrand T, Bandy U (2024) Prospective evaluation of routine statewide integration of molecular epidemiology and contact tracing to disrupt HIV transmission. Open Forum Infectious Diseases. <a href="https://doi.org/10.1093/ofid/ofae599">doi:10.1093/ofid/ofae599</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Oguchi K, Yamamoto G, Kohtsuka H, Dunn CW (2024) Physalia gonodendra are not yet sexually mature when released. Scientific Reports 14:23011. <a href="https://doi.org/10.1038/s41598-024-73611-5">doi:10.1038/s41598-024-73611-5</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Fulton J, Novitsky V, Gillani F, Guang A, Steingrimsson J, Khanna A, Hague J, Dunn C, Hogan J, Howe K, MacAskill M, Bhattarai L, Bertrand T, Bandy U, Kantor R (2024) Integrating HIV Cluster Analysis in Everyday Public Health Practice: Lessons Learned From a Public Health–Academic Partnership. JAIDS Journal of Acquired Immune Deficiency Syndromes 97(1):48-54. <a href="https://doi.org/10.1097/QAI.0000000000003469">doi:10.1097/QAI.0000000000003469</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Church SH, Mah JL, Dunn CW (2024) Integrating phylogenies into single-cell RNA sequencing analysis allows comparisons across species, genes, and cells. PLOS Biology 22(5): e3002633. <a href="https://doi.org/10.1371/journal.pbio.3002633">doi:10.1371/journal.pbio.3002633</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> N Ahuja, X Cao, DT Schultz, N Picciani, A Lord, S Shao, K Jia, DR Burdick, SH D Haddock, Y Li, CW Dunn (2024) Giants among Cnidaria: Large Nuclear Genomes and Rearranged Mitochondrial Genomes in Siphonophores. Genome Biology and Evolution, 16(3). <a href="https://doi.org/10.1093/gbe/evae048">doi:10.1093/gbe/evae048</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> ED Hetherington, HG Close, SH Haddock, AD Damian-Serrano, CW Dunn, NJ Wallsgrove, SC Doherty, CA Choy (2024) Vertical trophic structure and niche partitioning of gelatinous predators in a pelagic food web: Insights from stable isotopes of siphonophores. Limnology and Oceanography. <a href="https://doi.org/10.1002/lno.12536">doi:10.1002/lno.12536</a>.</p>
</div><div class="box-footer"> </div></div>
			
<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> JL Mah, CW Dunn (2024) Cell type evolution reconstruction across species through cell phylogenies of single-cell RNA sequencing data. Nature Ecology and Evolution. <a href="https://doi.org/10.1038/s41559-023-02281-9">doi:10.1038/s41559-023-02281-9</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> A Khanna, V Novitsky, A Guang, M Howison, FS Gillani, J Steingrimsson, C Dunn, J Fulton, T Bertrand, K Howe, L Bhattarai, G Ronquillo, M MacAskill, U Bandy, R Kantor (2023) Integrating HIV Partner Services and Molecular Epidemiology Data to Enhance HIV Transmission Disruption in Rhode Island: Findings from a Public Health-Academic Partnership. Open Forum Infectious Diseases, 10(2). <a href="https://doi.org/10.1093/ofid/ofad500.170">doi:10.1093/ofid/ofad500.170</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> SH Church, JL May, G Wagner, CW Dunn (2023) Normalizing need not be the norm: count‑based math for analyzing single‑cell data. Theory in Biosciences. <a href="https://doi.org/10.1007/s12064-023-00408-x">doi:10.1007/s12064-023-00408-x</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> A Monroe-Wise, JA Steingrimsson, J Fulton, M Howison, V Novitsky, FS Gillani, T Bertrand, A Civitarese, K Howe, G Ronquillo, B Lafazia, Z Parillo, T Marak, PA Chan, L Bhattarai, CW Dunn, U Bandy, NA Scott, JW Hogan, R Kantor (2022) Beyond HIV outbreaks: protocol, rationale and implementation of a prospective study quantifying the benefit of incorporating viral sequence clustering analysis into routine public health interventions. BMJ Open, 12(4). <a href="https://bmjopen.bmj.com/content/12/4/e060184">doi:10.1136/bmjopen-2022-e060184</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> CW Dunn (2023) Neurons that connect without synapses. Science, Vol 380, Issue 6642, pp. 241-242. <a href="https://doi.org/10.1126/science.adh0542">doi:10.1126/science.adh0542</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Samuel H. Church, Catriona Munro, Casey W. Dunn, Cassandra G. Extavour (2023) The evolution of ovary-biased gene expression in Hawaiian Drosophila. PLoS Genet 19(1): e1010607. <a href="https://doi.org/10.1371/journal.pgen.1010607">doi:10.1371/journal.pgen.1010607</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> V Novitsky, J Steingrimsson, M Howison, CW Dunn, FS Gillani, J Fulton, T Bertrand, K Howe, L Bhattarai, G Ronquillo, M MacAskill, U Bandy, J Hogan, R Kantor (2023) Not all clusters are equal: dynamics of molecular HIV-1 clusters in a statewide Rhode Island epidemic. AIDS. <a href="https://doi.org/10.1097/QAD.0000000000003426">doi:10.1097/QAD.0000000000003426</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> M Howison, FS Gillani, V Novitsky, JA Steingrimsson, J Fulton, T Bertrand, K Howe, A Civitarese, L Bhattarai, M MacAskill, G Ronquillo, J Hague, CW Dunn, U Bandy, JW Hogan, R Kantor (2023) An Automated Bioinformatics Pipeline Informing Near-Real-Time Public Health Responses to New HIV Diagnoses in a Statewide HIV Epidemic. Viruses, 15(3), 737. <a href="https://www.mdpi.com/1999-4915/15/3/737">doi:10.3390/v15030737</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> A Guang, M Howison, L Ledingham, M D’Antuono, PA Chan, C Lawrence, CW Dunn, R Kantor (2022) Incorporating Within-Host Diversity in Phylogenetic Analyses for Detecting Clusters of New HIV Diagnoses. Frontiers in Microbiology. <a href="https://www.frontiersin.org/articles/10.3389/fmicb.2021.803190/full">doi:10.3389/fmicb.2021.803190</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> JA Steingrimsson, J Fulton, MH Howison, V Novitsky, FS Gillani, T Bertrand, A Civitarese, K Howe, G Ronquillo, B Lafazia, Z Parillo, T Marak, PA Chan, L Bhattarai, CW Dunn, U Bandy, NA Scott, JW Hogan, R Kantor (2022) Beyond HIV outbreaks: protocol, rationale, and implementation of a prospective study quantifying the benefit of incorporating viral sequence clustering analysis into routine public health interventions. BMJ Open. <a href="http://dx.doi.org/10.1136/bmjopen-2021-060184">doi:10.1136/bmjopen-2021-060184</a>.</p>
</div><div class="box-footer"> </div></div>		
		
<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Damian-Serrano A, Hetherington ED, Choy A, Haddock SHD, Lepides A, Dunn CW (2022) Characterizing the secret diets of siphonophores (Cnidaria: Hydrozoa) using DNA metabarcoding. PLoS One. <a href="https://doi.org/10.1371/journal.pone.0267761">doi:10.1371/journal.pone.0267761</a>. <a href="https://github.com/dunnlab/siphweb_metabarcoding">GitHub repository</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Hetherington ED, Damian-Serrano A, Haddock SHD, Dunn CW, Choy A (2022) Integrating siphonophores into marine food-web ecology. Limnology and Oceanography Letters. <a href="https://doi.org/10.1002/lol2.10235">doi:10.1002/lol2.10235</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Munro C, Zapata F, Howison M, Siebert S, Dunn CW (2022) Evolution of gene expression across species and specialized zooids in Siphonophora. MBE. <a href="https://doi.org/10.1093/molbev/msac027">doi:10.1093/molbev/msac027</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Li, Y, Shen XX, Evans B, Dunn CW, Rokas A. (2021) Rooting the animal tree of life. MBE. <a href="https://doi.org/10.1093/molbev/msab170">doi:10.1093/molbev/msab170</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Novitsky, V, Steingrimsson J, Howison M, Dunn CW, Gillani FS, Manne A, Li Y, Spence M, Parillo Z, Fulton J, Marak T, Chan P, Bertrand T, Bandy U, Alexander-Scott N, Hogan J, Kantor R. (2021) Longitudinal typing of molecular HIV clusters in a statewide epidemic. AIDS. <a href="https://doi.org/10.1097/QAD.0000000000002953">doi:10.1097/QAD.0000000000002953</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Damian-Serrano, A, SHD Haddock, CW Dunn (2021) The evolutionary history of siphonophore tentilla: Novelties, convergence, and integration. Integrative Organismal Biology. <a href="https://doi.org/10.1093/iob/obab019">doi:10.1093/iob/obab019</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Damian-Serrano, A, SHD Haddock, CW Dunn (2021) The evolution of siphonophore tentilla for specialized prey capture in the open ocean. PNAS 118 (8) e2005063118. <a href="https://doi.org/10.1073/pnas.2005063118">doi:10.1073/pnas.2005063118</a>. (Cover article) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Li Y, Steenwyk JL, Chang Y, Wang Y, James TY, Stajich JE, Spatafora JW, Groenewald M, Dunn CW, Hittinger CT, Shen XX, Rokas A (2021) A genome-scale phylogeny of the kingdom Fungi. Current Biology 31:8 1653-1665. <a href="https://doi.org/10.1016/j.cub.2021.01.074">doi:10.1016/j.cub.2021.01.074</a>. (Cover article) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Guang, A, M Howison, F Zapata, C Lawrence, CW Dunn (2021) Revising transcriptome assemblies with phylogenetic information. PLoS ONE 16(1): e0244202.  <a href="https://doi.org/10.1371/journal.pone.0244202">doi:10.1371/journal.pone.0244202</a>. Git code repository: <a href="https://github.com/caseywdunn/ms_treeinform">https://github.com/caseywdunn/ms_treeinform</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Kantor, R, JP Fulton, J Steingrimsson, V Novitsky, M Howison, F Gillani, Y Li, A Manne, Z Parillo , M Spence, T Marak, P Chan, CW Dunn, T Bertrand, U Bandy, N Alexander-Scott, JW Hogan (2020) Challenges in evaluating the use of viral sequence data to identify HIV transmission networks for public health. Statistical Communications in Infectious Diseases 12:s1. <a href="https://doi.org/10.1515/scid-2019-0019">doi:10.1515/scid-2019-0019</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">AG Collins, M Daly, and CW Dunn. 2020. Cnidaria. Pp. 457-460 in Phylonyms: A Companion to the PhyloCode (K. de Queiroz, P. D. Cantino, and J. A. Gauthier, eds.). CRC Press, Boca Raton, FL.
<a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">AG Collins and CW Dunn. 2020. Medusozoa. Pp. 473-475 in Phylonyms: A Companion to the PhyloCode (K. de Queiroz, P. D. Cantino, and J. A. Gauthier, eds.). CRC Press, Boca Raton, FL.
 <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn, CW and AG Collins. 2020. Hydrozoa. Pp. 473-475 in Phylonyms: A Companion to the PhyloCode (K. de Queiroz, P. D. Cantino, and J. A. Gauthier, eds.). CRC Press, Boca Raton, FL.
 <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn, CW and AG Collins. 2020. Trachylina. Pp. 485-487 in Phylonyms: A Companion to the PhyloCode (K. de Queiroz, P. D. Cantino, and J. A. Gauthier, eds.). CRC Press, Boca Raton, FL.
 <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn, CW and AG Collins. 2020. Hydroidolina. Pp. 489-490 in Phylonyms: A Companion to the PhyloCode (K. de Queiroz, P. D. Cantino, and J. A. Gauthier, eds.). CRC Press, Boca Raton, FL.
 <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn, CW 2020. Siphonophora. Pp. 491-492 in Phylonyms: A Companion to the PhyloCode (K. de Queiroz, P. D. Cantino, and J. A. Gauthier, eds.). CRC Press, Boca Raton, FL.
 <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Novitsky, V, JA Steingrimsson, M Howison, FS Gillani, Y Li, A Manne, J Fulton, M Spence, Z Parillo, T Marak, PA Chan, T Bertrand, U Bandy, N Alexander-Scott, CW Dunn, J Hogan, R Kantor. (2020) Empirical comparison of analytical approaches for identifying molecular HIV-1 clusters. Scientific Reports 10, Article number: 18547. <a href="https://doi.org/10.1038/s41598-020-75560-1">doi:10.1038/s41598-020-75560-1</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Smith, SD, MW Pennell, CW Dunn, SV Edwards (2020) Phylogenetics is the New Genetics (for Most of Biodiversity). Trends in Ecology and Evolution. <a href="https://doi.org/10.1016/j.tree.2020.01.005">doi:10.1016/j.tree.2020.01.005</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Li-Gen Wang, Tommy Tsan-Yuk Lam, Shuangbin Xu, Zehan Dai, Lang Zhou, Tingze Feng, Pingfan Guo, Casey W Dunn, Bradley R Jones, Tyler Bradley, Huachen Zhu, Yi Guan, Yong Jiang, Guangchuang Yu. (2019) treeio: an R package for phylogenetic tree input and output with richly annotated and associated data. Molecular Biology and Evolution. <a href="https://doi.org/10.1093/molbev/msz240">doi:10.1093/molbev/msz240</a>. Git code repository: <a href="https://guangchuangyu.github.io/software/treeio/">https://guangchuangyu.github.io/software/treeio/</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Munro, C, Z Vue, RR Behringer, CW Dunn. (2019) Morphology and development of the Portuguese man of war, Physalia physalis. Scientific Reports 9:15522. <a href="https://dx.doi.org/10.1038/s41598-019-51842-1">doi:10.1038/s41598-019-51842-1</a>. bioRxiv preprint: <a href="https://doi.org/10.1101/645465">doi:10.1101/645465</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Lewis, ZR and CW Dunn. (2018) Genome evolution: We are not so special. eLife. <a href="https://dx.doi.org/10.7554/eLife.38726">doi:10.7554/eLife.38726</a>.  Git code repository: <a href="https://github.com/dunnlab/gene_inventory_2018">https://github.com/dunnlab/gene_inventory_2018</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Pugh, PR, CW Dunn, SHD Haddock (2018) Description of Tottonophyes enigmatica gen. nov., sp. nov. (Hydrozoa, Siphonophora, Calycophorae), with a reappraisal of the function and homology of nectophoral canals. Zootaxa 4415(3):452–472. <a href="https://doi.org/10.11646/zootaxa.4415.3.3">doi:10.11646/zootaxa.4415.3.3</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted"> Haddock, SHD, Christianson LM, Francis WR, Martini S, Dunn CW, Pugh PR, Mills CE, Osborn KJ, Seibel BA, Choy CA, Schnitzler CE, Matsumoto GI, Messié M, Schultz DT, Winnikoff JR, Powers ML, Gasca R, Browne WE, Johnsen S, Schlining KL, von Thun S, Erwin BE, Ryan JF, Thuesen EV (2018) Insights into the Biodiversity, Behavior, and Bioluminescence of Deep-Sea Organisms Using Molecular and Maritime Technology. Oceanography 30:38-47. <a href="https://doi.org/10.5670/oceanog.2017.422">doi:10.5670/oceanog.2017.422</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Munro, C, S Siebert, F Zapata, M Howison, A Damian-Serrano, SH Church, FE Goetz, PR Pugh, SHD Haddock, CW Dunn (2018) Improved phylogenetic resolution within Siphonophora (Cnidaria) with implications for trait evolution. Molecular Phylogenetics and Evolution. <a href="https://dx.doi.org/10.1016/j.ympev.2018.06.030">doi:10.1016/j.ympev.2018.06.030</a>. bioRxiv preprint: <a href="https://doi.org/10.1101/251116">doi:10.1101/251116</a>. Git code repository: <a href="https://github.com/caseywdunn/siphonophore_phylogeny_2017">https://github.com/caseywdunn/siphonophore_phylogeny_2017</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Dunn, CW, F Zapata, C Munro, S Siebert, A Hejnol (2018) Pairwise comparisons across species are problematic when analyzing functional genomic data. PNAS. <a href="https://dx.doi.org/10.1073/pnas.1707515115">doi:10.1073/pnas.1707515115</a>. bioRxiv preprint: <a href="https://doi.org/10.1101/107177">doi:10.1101/107177</a>. Git code repository: <a href="https://github.com/caseywdunn/comparative_expression_2017">https://github.com/caseywdunn/comparative_expression_2017</a>. (<a href="assets/Dunn_etal_2018-comparative_expression.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Helm, RR, CW Dunn (2017) Indoles induce metamorphosis in a broad diversity of jellyfish, but not in a crown jelly (Coronatae). PLoS One. <a href="https://doi.org/10.1371/journal.pone.0188601">doi:10.1371/journal.pone.0188601</a>. (<a href="assets/Helm-Dunn_2017.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Dunn, CW (2017) Ctenophore trees. Nature Ecology and Evolution. <a href="https://dx.doi.org/10.1038/s41559-017-0359-4">doi:10.1038/s41559-017-0359-4</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Dunn, CW, C Munro (2016) Comparative genomics and the diversity of life. Zoologica Scripta 45:5-13. <a href="https://dx.doi.org/10.1111/zsc.12211">doi:10.1111/zsc.12211</a>. (<a href="assets/Dunn_Munro_2016.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Hejnol, A, CW Dunn (2016) Animal Evolution: Are Phyla Real? Current Biology 26:R424–R426. <a href="https://dx.doi.org/10.1016/j.cub.2016.03.058">doi:10.1016/j.cub.2016.03.058</a>. (<a href="assets/Hejnol_Dunn2016.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Guang, A, F Zapata, M Howison, CE Lawrence, CW Dunn (2016) An Integrated Perspective on Phylogenetic Workflows. Trends in Ecology and Evolution 31:116-126. <a href="https://dx.doi.org/10.1016/j.tree.2015.12.007">doi:10.1016/j.tree.2015.12.007</a>. (<a href="assets/Guang_etal2016.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW (2015) Acorn worms in a nutshell. Nature 527:448-449. <a href="https://dx.doi.org/10.1038/nature16315">doi:10.1038/nature16315</a>. (<a href="assets/Dunn_2015.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Zapata, F, FE Goetz, SA Smith, M Howison, S Siebert, S Church, SM Sanders, CL Ames, CS McFadden, SC France, M Daly, AG Collins, SHD Haddock, CW Dunn, P Cartwright (2015) Phylogenomic analyses support traditional relationships within Cnidaria. PLoS One 10(10): e0139068. <a href="https://dx.doi.org/10.1371/journal.pone.0139068">doi:10.1371/journal.pone.0139068</a>. bioRxiv preprint: <a href="https://dx.doi.org/10.1101/017632">doi:10.1101/017632</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/cnidaria2014">https://bitbucket.org/caseywdunn/cnidaria2014</a>. (<a href="assets/Zapata_etal_2015_cnidaria.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, JT Ryan (2015) The evolution of animal genomes. Current Opinion in Genetics and Development 35:25-32. <a href="https://dx.doi.org/10.1016/j.gde.2015.08.006">doi:10.1016/j.gde.2015.08.006</a>. (<a href="assets/Dunn_Ryan_2015.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haddock, SH, CW Dunn (2015) Fluorescent proteins function as a prey attractant: experimental evidence from the hydromedusa Olindias formosus and other marine organisms. Biology Open 4:1094-1104. <a href="https://dx.doi.org/10.1242/bio.012138">doi:10.1242/​bio.012138</a>. (<a href="assets/Haddock_Dunn_2015.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Church, SH, JF Ryan, CW Dunn (2015) Automation and Evaluation of the SOWH Test of Phylogenetic Topologies with SOWHAT. Systematic Biology 64(6): 1048-1058. <a href="https://dx.doi.org/10.1093/sysbio/syv055">doi:10.1093/sysbio/syv055</a>. bioRxiv preprint: <a href="https://dx.doi.org/10.1101/005264">doi:10.1101/005264</a>. Git code repository: <a href="https://github.com/josephryan/sowhat">https://github.com/josephryan/sowhat</a>. (<a href="assets/Church_etal_2015_sowhat.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Laumer, CE, N Bekkouche, A Kerbl, F Goetz, RC Neves, MV Sørensen, RM Kristensen, A Hejnol, CW Dunn, G Giribet, K Worsaae (2015) Spiralian Phylogeny Informs the Evolution of Microscopic Lineages. Current Biology 25(15):2000-2006.  <a href="https://dx.doi.org/10.1016/j.cub.2015.06.068">doi:10.1016/j.cub.2015.06.068</a>. (<a href="assets/Laumer_etal_2015.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Church, SH, S Siebert, P Bhattacharyya, CW Dunn (2015) The Histology of <i>Nanomia bijuga</i> (Hydrozoa: Siphonophora). J. Exp. Zool. (Mol. Dev. Evol.) 324(5):435-449. <a href="https://dx.doi.org/10.1002/jez.b.22629">doi:10.1002/jez.b.22629</a>. bioRxiv preprint: <a href="https://dx.doi.org/10.1101/010868">doi:10.1101/010868</a>. (<a href="assets/Church_etal_2015.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Siebert, S, FE Goetz, SH Church, P Bhattacharyya, F Zapata, SHD Haddock, and CW Dunn. (2015) Stem Cells in a Colonial Animal with Localized Growth Zones. EvoDevo 6:22. <a href="https://dx.doi.org/10.1186/s13227-015-0018-2">doi:10.1186/s13227-015-0018-2</a>. bioRxiv preprint: <a href="https://dx.doi.org/10.1101/001685">doi:10.1101/001685</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/siebert_etal">https://bitbucket.org/caseywdunn/siebert_etal</a>. (<a href="assets/Siebert_etal_2015.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Salinas-Saavedra, M, TQ Stephenson, CW Dunn, MQ Martindale (2015) Par system components are asymmetrically localized in ectodermal epithelia, but not during early development in the sea anemone <i>Nematostella vectensis</i>. EvoDevo 6:20. <a href="https://dx.doi.org/10.1186/s13227-015-0014-6">doi:10.1186/s13227-015-0014-6</a>. (<a href="assets/Salinas-Saavedra_etal_2015.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Helm, RR, S Tiozzo, MKS Lilley, F Lombard, CW Dunn (2015) Comparative muscle development of scyphozoan jellyfish with simple and complex life cycles. EvoDevo 6:11. <a href="https://dx.doi.org/10.1186/s13227-015-0005-7">doi:10.1186/s13227-015-0005-7</a>. (<a href="assets/Helm_etal_2015.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Dunn, CW, SP Leys, SHD Haddock (2015) The hidden biology of sponges and ctenophores. Trends in Ecology and Evolution 30:282-291. <a href="https://dx.doi.org/10.1016/j.tree.2015.03.003">doi:10.1016/j.tree.2015.03.003</a> (<a href="assets/Dunn_etal2015_hidden_biology.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Reich, A, CW Dunn, K Akasaka, G Wessel (2015) Phylogenomic Analyses of Echinodermata Support the Sister Groups of Asterozoa and Echinozoa. PLoS One 10:e0119627. <a href="https://dx.doi.org/10.1371/journal.pone.0119627">doi:10.1371/journal.pone.0119627</a> (<a href="assets/Reich_etal_2015.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted"> Gonzalez, VL, SCS Andrade, R Bieler, TM Collins, CW Dunn, PM Mikkelsen, JD Taylor, G Giribet (2015) A phylogenetic backbone for Bivalvia: an RNA-seq approach. Proceedings of the Royal Society B: Biological Sciences 282:20142332. <a href="https://dx.doi.org/10.1098/rspb.2014.2332">doi:10.1098/rspb.2014.2332</a> (<a href="assets/Gonzalez_etal_2015.pdf">pdf</a>).</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, G Giribet, GD Edgecombe, A Hejnol (2014) Animal Phylogeny and its Evolutionary Implications. Annual Review of Ecology, Evolution, and Systematics 45:371–395. <a href="https://dx.doi.org/10.1146/annurev-ecolsys-120213-091627">doi:10.1146/annurev-ecolsys-120213-091627</a>. <a href="https://www.annualreviews.org/doi/suppl/10.1146/annurev-ecolsys-120213-091627/suppl_file/es45_dunn_supfig1.pdf">Supplemental summary figure.</a> (<a href="assets/Dunn_etal2014.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW (2014) Reconsidering the phylogenetic utility of miRNA in animals. PNAS 111:12576–12577. <a href="https://dx.doi.org/10.1073/pnas.1413545111">doi:10.1073/pnas.1413545111</a> (<a href="assets/Dunn_2014PNAS.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Zapata, F, NG Wilson, M Howison, SCS Andrade, KM Jörger, Michael Schrödl, Freya E Goetz, Gonzalo Giribet, Casey W Dunn (2014) Phylogenomic analyses of deep gastropod relationships reject Orthogastropoda. Proceedings of the Royal Society B: Biological Sciences 281:1471-2954. <a href="https://dx.doi.org/10.1098/rspb.2014.1739">doi:10.1098/rspb.2014.1739</a> (<a href="assets/Zapata_etal2014.pdf">pdf</a>). bioRxiv preprint: <a href="https://dx.doi.org/10.1101/007039">doi:10.1101/007039</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/gastropoda">https://bitbucket.org/caseywdunn/gastropoda</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Howison, M, F Zapata, EJ Edwards, and CW Dunn (2014) Bayesian genome assembly and assessment by Markov Chain Monte Carlo sampling. PLoS One 9:e99497. <a href="https://dx.doi.org/10.1371/journal.pone.0099497">doi:10.1371/journal.pone.0099497</a>. arXiv preprint: <a href="https://arxiv.org/abs/1308.1388">1308.1388</a>. Git code repository: <a href="https://bitbucket.org/mhowison/gabi">https://bitbucket.org/mhowison/gabi</a>. Example analysis report: <a href="https://web3.ccv.brown.edu/mhowison/gabi-report/">https://web3.ccv.brown.edu/mhowison/gabi-report/</a> (<a href="assets/Howison_etal_2014.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Lopez, J, H Bracken-Grissom, A Collins, T Collins, K Crandall, D Distel, C Dunn, et al. (2014) Global Invertebrate Genomics Alliance (GIGA): Developing Community Resources to Study Diverse Invertebrate Genomes. Journal of Heredity 105:1-18. <a href="https://dx.doi.org/10.1093/jhered/est084">doi:10.1093/jhered/est084</a> (<a href="assets/GIGA_2014.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Ryan, JF, K Pang, CE Schnitzler, A Nguyen, RT Moreland, DK Simmons, BJ Koch, WR Francis, P Havlak, NISC Comparative Sequencing Program, SA Smith, NH Putnam, SHD Haddock, CW Dunn, TG Wolfsberg, JC Mullikin, MQ Martindale, AD Baxevanis (2013) The genome of the ctenophore <i>Mnemiopsis leidyi</i> and its implications for cell type evolution. Science 432:1242592. <a href="https://dx.doi.org/10.1126/science.1242592">doi:10.1126/science.1242592</a>, <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3920664/">PMC3920664</a> (<a href="assets/Ryan_etal2013.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">CW Dunn, M Howison, and F Zapata (2013) Agalma: an automated phylogenomics workflow. BMC Bioinformatics 14:330. <a href="https://dx.doi.org/10.1186/1471-2105-14-330">doi:10.1186/1471-2105-14-330</a>. arXiv preprint: <a href="https://arxiv.org/abs/1307.6432">1307.6432</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/agalma">https://bitbucket.org/caseywdunn/agalma</a> (software), <a href="https://bitbucket.org/caseywdunn/dunnhowisonzapata2013">https://bitbucket.org/caseywdunn/dunnhowisonzapata2013</a> (analyses). (<a href="assets/Dunn_etal_2013_agalma.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Howison, M, F Zapata, CW Dunn (2013) Toward a statistically explicit understanding of de novo sequence assembly. Bioinformatics 29:2959-2963. <a href="https://dx.doi.org/10.1093/bioinformatics/btt525">doi:10.1093/bioinformatics/btt525</a> (<a href="assets/Howison_etal2013.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Siebert, S, PR Pugh, SHD Haddock, CW Dunn (2013) Re-evaluation of characters in Apolemiidae (Siphonophora), with description of two new species from Monterey Bay, California. Zootaxa 3702: 201–232. <a href="https://dx.doi.org/10.11646/zootaxa.3702.3.1">doi:10.11646/zootaxa.3702.3.1</a> (<a href="https://www.mapress.com/zootaxa/2013/f/zt03702p232.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, X Luo, Z Wu (2013) Phylogenetic analysis of gene expression. Integrative and Comparative Biology 53:847-856. <a href="https://dx.doi.org/10.1093/icb/ict068">doi:10.1093/icb/ict068</a> (<a href="assets/Dunn_etal2013_icb.pdf">pdf</a>). arXiv preprint: <a href="https://arxiv.org/abs/1302.2978">1302.2978</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/sicb2013">https://bitbucket.org/caseywdunn/sicb2013</a>. (<a href="assets/Dunn_etal2013_icb.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Helm, RR, S Siebert, S Tulin, J Smith, CW Dunn (2013) Characterization of differential transcript abundance through time during <i>Nematostella vectensis</i> development. BMC Genomics 14:266.  <a href="https://dx.doi.org/10.1186/1471-2164-14-266">doi:10.1186/1471-2164-14-266</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/helm_etal_2013">https://bitbucket.org/caseywdunn/helm_etal_2013</a>. (<a href="assets/Helm_etal_2013.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW (2013) Evolution: Out of the Ocean. Current Biology 23:R242-R243. <a href="https://dx.doi.org/10.1016/j.cub.2013.01.067">doi:10.1038/10.1016/j.cub.2013.01.06</a> (<a href="assets/Dunn_2013.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Howison, M, N Sinnott-Armstrong, CW Dunn (2012) BioLite, a lightweight bioinformatics framework with automated tracking of diagnostics and provenance. 4th USENIX Workshop on the Theory and Practice of Provenance (TaPP12). <a href="https://www.usenix.org/conference/tapp12/biolite-lightweight-bioinformatics-framework-automated-tracking-diagnostics-and">video</a>, <a href="https://www.usenix.org/system/files/conference/tapp12/tapp12-final5.pdf">pdf</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/biolite">https://bitbucket.org/caseywdunn/biolite</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Smith, SA, NG Wilson, F Goetz, C Feehery, SCS Andrade, GW Rouse, G Giribet, CW Dunn (2011) Resolving the evolutionary relationships of molluscs with phylogenomic tools. Nature 480:364-367. <a href="https://dx.doi.org/10.1038/nature10526">doi:10.1038/nature10526</a> (<a href="assets/Smith_etal2011.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Siebert, S,  MD Robinson, SC Tintori, F Goetz, RR Helm, SA Smith, N Shaner, SHD Haddock, CW Dunn (2011) Differential Gene Expression in the Siphonophore <i>Nanomia bijuga</i> (Cnidaria) Assessed with Multiple Next-Generation Sequencing Workflows. PLoS One 6(7): e22953. <a href="https://dx.doi.org/10.1371/journal.pone.0022953">doi:10.1371/journal.pone.0022953</a> (<a href="assets/Siebert_etal2011.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edgecombe, GD, G Giribet, CW Dunn, A Hejnol, RM Kristensen, RC Neves, GW Rouse, K Worsaae, and MV Sørensen (2011) Higher-level metazoan relationships: recent progress and remaining questions. Organisms, Diversity, and Evolution 11:151-172. <a href="https://dx.doi.org/10.1007/s13127-011-0044-4">doi:10.1007/s13127-011-0044-4</a> (<a href="assets/Edgecombe_etal_2011.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haddock, SHD and CW Dunn (2011) Practical Computing for Biologists. Sinauer Associates (Sunderland, MA). <a href="https://practicalcomputing.org/">Book Site</a>, <a href="https://www.sinauer.com/detail.php?id=3914">Read more at the publisher's site</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Hejnol, A, M Obst, A Stamatakis, M Ott, G Rouse, G Edgecombe, P Martinez, J Baguñà, X Bailly, U Jondelius, M Wiens, WEG Müller, Elaine Seaver, WC Wheeler, MQ Martindale, G Giribet, and CW Dunn (2009) Assessing the root of bilaterian animals with scalable phylogenomic methods. Proc. R. Soc. B. 276:4261-4270 <a href="https://dx.doi.org/10.1098/rspb.2009.0896">doi:10.1098/rspb.2009.0896</a> (<a href="assets/Hejnol_etal_2009.pdf">pdf</a>). Git repository: <a href="https://bitbucket.org/caseywdunn/hejnol_etal_2009">https://bitbucket.org/caseywdunn/hejnol_etal_2009</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW (2009) Siphonophores. Current Biology 19:R233-R234. <a href="https://dx.doi.org/10.1016/j.cub.2009.02.009">doi:10.1016/j.cub.2009.02.009</a> (<a href="assets/Dunn_2009.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Giribet, G, CW Dunn, GD Edgecombe, A Hejnol, MQ Martindale, and GW Rouse (2009) Assembling the spiralian tree of life (p 52-64) In: Animal Evolution. MJ Telford and DTJ Littlewood (eds). Oxford University Press.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Cartwright, P, NM Evans, CW Dunn, AC Marques, MP Miglietta, P Schuchert, and AG Collins (2008) Phylogenetics of Hydroidolina (Hydrozoa: Cnidaria). Journal of the Marine Biological Association of the United Kingdom. 88:1663-1672. <a href="https://dx.doi.org/10.1017/S0025315408002257">doi:10.1017/S0025315408002257</a> (<a href="assets/Cartwright_etal2008.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, A Hejnol, DQ Matus, K Pang, WE Browne, SA Smith, E Seaver, GW Rouse, M Obst, GD Edgecombe, MV Sorensen, SHD Haddock, A Schmidt-Rhaesa, A Okusu, RM Kristensen, WC Wheeler, MQ Martindale, and G Giribet (2008) Broad phylogenomic sampling improves resolution of the Animal Tree of Life. Nature. 452:745-749. <a href="https://dx.doi.org/10.1038/nature06614">doi:10.1038/nature06614</a> (<a href="assets/Dunn_etal2008.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Smith, SA and CW Dunn (2008) Phyutility: a phyloinformatics tool for trees, alignments, and molecular data. Bioinformatics. 24:715-716. <a href="https://dx.doi.org/10.1093/bioinformatics/btm619">doi:10.1093/bioinformatics/btm619</a> (<a href="assets/Smith_Dunn2008.pdf">pdf</a>). Code repository: <a href="https://code.google.com/p/phyutility/">https://code.google.com/p/phyutility</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Giribet, G, CW Dunn, GD Edgecombe, and GW Rouse (2007) A modern look at the Animal Tree of Life. Zootaxa 1668:61-79. (<a href="assets/Giribet_etal2007.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
    <p class="text-muted">Oota, H, CW Dunn, WC Speed, AJ Pakstis, MA Palmatier, JR Kidd and KK Kidd (2007) Conservative evolution in duplicated genes of the primate Class I ADH cluster. Gene. 392:64-76. <a href="https://dx.doi.org/10.1016/j.gene.2006.11.008">doi:10.1016/j.gene.2006.11.008</a> (<a href="assets/Oota_etal2007.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Mills, CE, AC Marques, AE Migotto, DR Calder, C Hand, JT Rees, SHD Haddock, CW Dunn, and PR Pugh. (2007) Hydrozoa: Polyps, Hydromedusae, and Siphonophora. In: The Light &amp; Smith manual: intertidal invertebrates from central California to Oregon, 4th edition. JT Carlton (ed). University of California Press. </p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
    <p class="text-muted">Dunn, CW and GP Wagner (2006) The evolution of colony-level development in the Siphonophora (Cnidaria:Hydrozoa). Development, Genes, and Evolution. 216:743-754. <a href="https://dx.doi.org/10.1007/s00427-006-0101-8">doi:10.1007/s00427-006-0101-8</a> (<a href="assets/Dunn_Wagner2006.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Matus, DQ, K Pang, H Marlow, CW Dunn, GH Thomsen, and MQ Martindale (2006) Deep evolutionary roots for bilaterality in the metazoa. Proceedings of the National Academy of Sciences USA 103:11195-11200. <a href="https://dx.doi.org/10.1073/pnas.0601257103">doi:10.1073/pnas.0601257103</a> (<a href="assets/Matus_etal2006-bilaterality.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Matus, DQ, RR Copley, CW Dunn, A Hejnol, H Eccleston, KM Halanych, MQ Martindale, and MJ Telford (2006) Broad Taxon and Gene Sampling Indicate that Chaetognaths Are Protostomes. Current Biology 16:R575-R576 <a href="https://dx.doi.org/10.1016/j.cub.2006.07.017">doi:10.1016/j.cub.2006.07.017</a> (<a href="assets/Matus_etal2006-chaetognaths.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, PR Pugh, and SHD Haddock (2005) Molecular phylogenetics of the Siphonophora (Cnidaria), with implications for the evolution of functional specialization. Systematic Biology 54:916-935. <a href="https://dx.doi.org/10.1080/10635150500354837">doi:10.1080/10635150500354837</a> (<a href="assets/Dunn_etal2005_siphonophore_phylogeny.pdf">pdf</a>). Git repository: <a href="https://bitbucket.org/caseywdunn/siphonophores_2005">https://bitbucket.org/caseywdunn/siphonophores_2005</a>.</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW (2005) The complex colony-level organization of the deep-sea siphonophore <i>Bargmannia elongata</i> (Cnidaria, Hydrozoa) is directionally asymmetric and arises by the subdivision of pro-buds. Developmental Dynamics. 234:835-834. <a href="https://dx.doi.org/10.1002/dvdy.20483">doi:10.1002/dvdy.20483</a> (<a href="assets/Dunn2005_Bargmannia.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, PR Pugh, and SHD Haddock (2005) <i>Marrus claudanielis</i>, a new species of deep-sea physonect siphonophore (Siphonophora, Physonectae). Bull. Mar. Sci. 76:699-714. (<a href="assets/Dunn-etal2005_Marrus.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haddock, SHD, CW Dunn, PR Pugh. and C.E. Schnitzler. (2005) Bioluminescent and red-fluorescent lures in a deep-sea siphonophore. Science. 309:263. <a href="https://dx.doi.org/10.1126/science.1110441">doi:10.1126/science.1110441</a> (<a href="assets/haddock-etal2005_erenna.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haddock, SHD, CW Dunn, and PR Pugh (2005) A reexamination of siphonophore terminology and morphology, applied to the description of two new prayine species with remarkable bio-optical properties. J. Mar. Biol. Assoc. U.K. 85:695-707. <a href="https://dx.doi.org/10.1017/S0025315405011616">doi:10.1017/S0025315405011616</a> (<a href="assets/Haddock-etal2005.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haddock, SHD and CW Dunn (2005) The complex world of siphonophores. JMBA Global Marine Environment 2005(2):24-25. (<a href="assets/Haddock-Dunn2005_jmba-siphs.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Lynch, VJ, JJ Roth, K Takahashi, CW Dunn, DF Nonaka, G Stopper and GP Wagner (2004) Adaptive evolution of HoxA-11 and HoxA-13 at the origin of the uterus in mammals. Proceedings of the Royal Society B: Biological Sciences 271:2201-2207. <a href="https://dx.doi.org/10.1098/rspb.2004.2848">doi:10.1098/rspb.2004.2848</a> (<a href="assets/Lynch-etal2004.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>


</div>
</section>
