

<!-- Publications Section -->
<section id="publications" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
            </div>
        </div>
<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Guang AAandDunn, Novitsky V, Howison M, Kantor R (2025) T-shaped alignments integrating HIV-1 near full-length genome and partial pol sequences can improve phylogenetic inference of transmission clusters. <i>PLOS Computational Biology</i> 21:1-18. <a href="https://doi.org/10.1371/journal.pcbi.1013676">doi:10.1371/journal.pcbi.1013676</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Price KL, Tharakan DM, Salvenmoser W, Ayers K, Mah J, Dunn CW, Hobmayer B, Cooley L (2025) Examination of Germline and Somatic Intercellular Bridges in Hydra vulgaris Reveals Insights into the Evolutionarily Conserved Mechanism of Intercellular Bridge Formation. <i>Molecular Biology and Evolution</i> 42:msaf248. <a href="https://doi.org/10.1093/molbev/msaf248">doi:10.1093/molbev/msaf248</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Sebé-Pedrós A, Tanay A, Lawniczak MKN, Arendt D, Aerts S, Archibald J, Arnone MI, Blaxter M, Cleves P, Coelho SM, Dias M, Dunn CW, Elek A, Frazer J, Gabaldón T, Gillis J, Grau-Bové X, Guigó R, Hobert O, Huerta-Cepas J, Irimia M, Klein A, Lewin H, Lowe CJ, Marlow H, Musser JM, Nagy LG, Najle SR, Pachter L, Paez S, Papatheodorou I, Passalacqua MJ, Rajewsky N, Rhee SY, Richards TA, Sauka-Spengler T, Saunders LM, Seuntjens E, Solana J, Song Y, Technau U, Wang B (2025) The Biodiversity Cell Atlas: mapping the tree of life at cellular resolution. <i>Nature</i> 645:877–885. <a href="https://doi.org/10.1038/s41586-025-09312-4">doi:10.1038/s41586-025-09312-4</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Oguchi K, Maeno A, Yoshida K, Kohtsuka H, Dunn CW (2025) Zooid arrangement and colony growth in Porpita porpita. <i>Frontiers in Zoology</i> 22:11. <a href="https://doi.org/10.1186/s12983-025-00565-3">doi:10.1186/s12983-025-00565-3</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Church SH, Abedon RB, Ahuja N, Anthony CJ, Destanović D, Ramirez DA, Rojas LM, Albinsson ME, Álvarez Trasobares I, Bergemann RE, Bogdanovic O, Burdick DR, Cunha TJ, Damian-Serrano A, D’Elía G, Dion KB, Doyle TK, Gonçalves JM, Gonzalez Rajal A, Haddock SHD, Helm RR, Le Gouvello D, Lewis ZR, Magalhães BIMM, Mańko MK, Mayorga-Adame CG, de Mendoza A, Moura CJ, Munro C, Nel R, Oguchi K, Perelman JN, Prieto L, Pitt KA, Roughan M, Schaeffer A, Schmidt AL, Sellanes J, Wilson NG, Yamamoto G, Lazo-Wasem EA, Simon C, Decker MB, Coughlan JM, Dunn CW (2025) Population genomics of a sailing siphonophore reveals genetic structure in the open ocean. <i>Current Biology</i> 35:3556-3569.e6. <a href="https://doi.org/10.1016/j.cub.2025.05.066">doi:10.1016/j.cub.2025.05.066</a>. <b>(Cover Article)</b></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Kantor R, Steingrimsson J, Fulton J, Novitsky V, Howison M, Gillani F, Bhattarai L, MacAskill M, Hague J, Guang A, Khanna A, Dunn C, Hogan J, Bertrand T, Bandy U (2024) Prospective evaluation of routine statewide integration of molecular epidemiology and contact tracing to disrupt HIV transmission. <i>Open Forum Infectious Diseases</i> 10. <a href="https://doi.org/10.1093/ofid/ofae599">doi:10.1093/ofid/ofae599</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Oguchi K, Yamamoto G, Kohtsuka H, Dunn CW (2024) Physalia gonodendra are not yet sexually mature when released. <i>Scientific Reports</i> 14:23011. <a href="https://doi.org/10.1038/s41598-024-73611-5">doi:10.1038/s41598-024-73611-5</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Fulton J, Novitsky V, Gillani F, Guang A, Steingrimsson J, Khanna A, Hague J, Dunn C, Hogan J, Howe K, MacAskill M, Bhattarai L, Bertrand T, Bandy U, Kantor R (2024) Integrating HIV Cluster Analysis in Everyday Public Health Practice: Lessons Learned From a Public Health–Academic Partnership. <i>JAIDS Journal of Acquired Immune Deficiency Syndromes</i> 97:48-54. <a href="https://doi.org/10.1097/QAI.0000000000003469">doi:10.1097/QAI.0000000000003469</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Church SH, Mah JL, Dunn CW (2024) Integrating phylogenies into single-cell RNA sequencing analysis allows comparisons across species, genes, and cells. <i>PLOS Biology</i> 22:e3002633. <a href="https://doi.org/10.1371/journal.pbio.3002633">doi:10.1371/journal.pbio.3002633</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Ahuja N, Cao X, Schultz DT, Picciani N, Lord A, Shao S, Jia K, Burdick DR, Haddock SHD, Li Y, Dunn CW (2024) Giants among Cnidaria: Large Nuclear Genomes and Rearranged Mitochondrial Genomes in Siphonophores. <i>Genome Biology and Evolution</i> 16. <a href="https://doi.org/10.1093/gbe/evae048">doi:10.1093/gbe/evae048</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Hetherington ED, Close HG, Haddock SH, Damian-Serrano AD, Dunn CW, Wallsgrove NJ, Doherty SC, Choy CA (2024) Vertical trophic structure and niche partitioning of gelatinous predators in a pelagic food web: Insights from stable isotopes of siphonophores. <i>Limnology and Oceanography</i> 69:902-919. <a href="https://doi.org/10.1002/lno.12536">doi:10.1002/lno.12536</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Mah JL, Dunn CW (2024) Cell type evolution reconstruction across species through cell phylogenies of single-cell RNA sequencing data. <i>Nature Ecology and Evolution</i> 8:325–338. <a href="https://doi.org/10.1038/s41559-023-02281-9">doi:10.1038/s41559-023-02281-9</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Khanna A, Novitsky V, Guang A, Howison M, Gillani FS, Steingrimsson J, Dunn C, Fulton J, Bertrand T, Howe K, Bhattarai L, Ronquillo G, MacAskill M, Bandy U, Kantor R (2023) Integrating HIV Partner Services and Molecular Epidemiology Data to Enhance HIV Transmission Disruption in Rhode Island: Findings from a Public Health-Academic Partnership. <i>Open Forum Infectious Diseases</i> 10. <a href="https://doi.org/10.1093/ofid/ofad500.170">doi:10.1093/ofid/ofad500.170</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Church SH, May JL, Wagner G, Dunn CW (2023) Normalizing need not be the norm: count‑based math for analyzing single‑cell data. <i>Theory in Biosciences</i>. <a href="https://doi.org/10.1007/s12064-023-00408-x">doi:10.1007/s12064-023-00408-x</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Howison M, Gillani FS, Novitsky V, Steingrimsson JA, Fulton J, Bertrand T, Howe K, Civitarese A, Bhattarai L, MacAskill M, Ronquillo G, Hague J, Dunn CW, Bandy U, Hogan JW, Kantor R (2023) An Automated Bioinformatics Pipeline Informing Near-Real-Time Public Health Responses to New HIV Diagnoses in a Statewide HIV Epidemic. <i>Viruses</i> 15:737. <a href="https://www.mdpi.com/1999-4915/15/3/737">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2023) Neurons that connect without synapses. <i>Science</i> 380:241-242. <a href="https://doi.org/10.1126/science.adh0542">doi:10.1126/science.adh0542</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Church SH, Munro C, Dunn CW, Extavour CG (2023) The evolution of ovary-biased gene expression in Hawaiian Drosophila. <i>PLoS Genet</i> 19:e1010607. <a href="https://doi.org/10.1371/journal.pgen.1010607">doi:10.1371/journal.pgen.1010607</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Novitsky V, Steingrimsson J, Howison M, Dunn CW, Gillani FS, Fulton J, Bertrand T, Howe K, Bhattarai L, Ronquillo G, MacAskill M, Bandy U, Hogan J, Kantor R (2023) Not all clusters are equal: dynamics of molecular HIV-1 clusters in a statewide Rhode Island epidemic. <i>AIDS</i>. <a href="https://doi.org/10.1097/QAD.0000000000003426">doi:10.1097/QAD.0000000000003426</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Guang A, Howison M, Ledingham L, D’Antuono M, Chan PA, Lawrence C, Dunn CW, Kantor R (2022) Incorporating Within-Host Diversity in Phylogenetic Analyses for Detecting Clusters of New HIV Diagnoses. <i>Frontiers in Microbiology</i>. <a href="https://doi.org/10.3389/fmicb.2021.803190">doi:10.3389/fmicb.2021.803190</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Steingrimsson JA, Fulton J, Howison MH, Novitsky V, Gillani FS, Bertrand T, Civitarese A, Howe K, Ronquillo G, Lafazia B, Parillo Z, Marak T, Chan PA, Bhattarai L, Dunn CW, Bandy U, Scott NA, Hogan JW, Kantor R (2022) Beyond HIV outbreaks: protocol, rationale, and implementation of a prospective study quantifying the benefit of incorporating viral sequence clustering analysis into routine public health interventions. <i>BMJ Open</i>. <a href="https://doi.org/10.1136/bmjopen-2021-060184">doi:10.1136/bmjopen-2021-060184</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Damian-Serrano A, Hetherington ED, Choy A, Haddock SHD, Lepides A, Dunn CW (2022) Characterizing the secret diets of siphonophores (Cnidaria: Hydrozoa) using DNA metabarcoding. <i>PLoS One</i>. <a href="https://doi.org/10.1371/journal.pone.0267761">doi:10.1371/journal.pone.0267761</a>. Git code repository: <a href="https://github.com/dunnlab/siphweb_metabarcoding">https://github.com/dunnlab/siphweb_metabarcoding</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Hetherington ED, Damian-Serrano A, Haddock SHD, Dunn CW, Choy A (2022) Integrating siphonophores into marine food-web ecology. <i>Limnology and Oceanography Letters</i>. <a href="https://doi.org/10.1002/lol2.10235">doi:10.1002/lol2.10235</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Munro C, Zapata F, Howison M, Siebert S, Dunn CW (2022) Evolution of gene expression across species and specialized zooids in Siphonophora. <i>MBE</i>. <a href="https://doi.org/10.1093/molbev/msac027">doi:10.1093/molbev/msac027</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Li Y, Shen XX, Evans B, Dunn CW, Rokas A (2021) Rooting the animal tree of life. <i>MBE</i>. <a href="https://doi.org/10.1093/molbev/msab170">doi:10.1093/molbev/msab170</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Novitsky V, Steingrimsson J, Howison M, Dunn CW, Gillani FS, Manne A, Li Y, Spence M, Parillo Z, Fulton J, Marak T, Chan P, Bertrand T, Bandy U, Alexander-Scott N, Hogan J, Kantor R (2021) Longitudinal typing of molecular HIV clusters in a statewide epidemic. <i>AIDS</i>. <a href="https://doi.org/10.1097/QAD.0000000000002953">doi:10.1097/QAD.0000000000002953</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Damian-Serrano A, Haddock SHD, Dunn CW (2021) The evolutionary history of siphonophore tentilla: Novelties, convergence, and integration. <i>Integrative Organismal Biology</i>. <a href="https://doi.org/10.1093/iob/obab019">doi:10.1093/iob/obab019</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Damian-Serrano A, Haddock SHD, Dunn CW (2021) The evolution of siphonophore tentilla for specialized prey capture in the open ocean. <i>PNAS</i> 118:e2005063118. <a href="https://doi.org/10.1073/pnas.2005063118">doi:10.1073/pnas.2005063118</a>. <b>(Cover Article)</b></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Li Y, Steenwyk JL, Chang Y, Wang Y, James TY, Stajich JE, Spatafora JW, Groenewald M, Dunn CW, Hittinger CT, Shen XX, Rokas A (2021) A genome-scale phylogeny of the kingdom Fungi. <i>Current Biology</i> 31:1653-1665. <a href="https://doi.org/10.1016/j.cub.2021.01.074">doi:10.1016/j.cub.2021.01.074</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Guang A, Howison M, Zapata F, Lawrence C, Dunn CW (2021) Revising transcriptome assemblies with phylogenetic information. <i>PLoS ONE</i> 16:e0244202. <a href="https://doi.org/10.1371/journal.pone.0244202">doi:10.1371/journal.pone.0244202</a>. Git code repository: <a href="https://github.com/caseywdunn/ms_treeinform">https://github.com/caseywdunn/ms_treeinform</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Kantor R, Fulton JP, Steingrimsson J, Novitsky V, Howison M, Gillani F, Li Y, Manne A, Parillo Z, Spence M, Marak T, Chan P, Dunn CW, Bertrand T, Bandy U, Alexander-Scott N, Hogan JW (2020) Challenges in evaluating the use of viral sequence data to identify HIV transmission networks for public health. <i>Statistical Communications in Infectious Diseases</i> 12:s1. <a href="https://doi.org/10.1515/scid-2019-0019">doi:10.1515/scid-2019-0019</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Novitsky V, Steingrimsson JA, Howison M, Gillani FS, Li Y, Manne A, Fulton J, Spence M, Parillo Z, Marak T, Chan PA, Bertrand T, Bandy U, Alexander-Scott N, Dunn CW, Hogan J, Kantor R (2020) Empirical comparison of analytical approaches for identifying molecular HIV-1 clusters. <i>Scientific Reports</i> 10. <a href="https://doi.org/10.1038/s41598-020-75560-1">doi:10.1038/s41598-020-75560-1</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Collins AG, Daly M, Dunn CW (2020) Cnidaria. <i>Phylonyms: A Companion to the PhyloCode</i>. <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Collins AG, Dunn CW (2020) Medusozoa. <i>Phylonyms: A Companion to the PhyloCode</i>. <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Collins AG (2020) Hydrozoa. <i>Phylonyms: A Companion to the PhyloCode</i>. <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Collins AG (2020) Trachylina. <i>Phylonyms: A Companion to the PhyloCode</i>. <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Collins AG (2020) Hydroidolina. <i>Phylonyms: A Companion to the PhyloCode</i>. <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2020) Siphonophora. <i>Phylonyms: A Companion to the PhyloCode</i>. <a href="https://doi.org/10.1201/9780429446276">doi:10.1201/9780429446276</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Smith SD, Pennell MW, Dunn CW, Edwards SV (2020) Phylogenetics is the New Genetics (for Most of Biodiversity). <i>Trends in Ecology and Evolution</i>. <a href="https://doi.org/10.1016/j.tree.2020.01.005">doi:10.1016/j.tree.2020.01.005</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Munro C, Vue Z, Behringer RR, Dunn CW (2019) Morphology and development of the Portuguese man of war, Physalia physalis. <i>Scientific Reports</i> 9:15522. <a href="https://doi.org/10.1038/s41598-019-51842-1">doi:10.1038/s41598-019-51842-1</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Wang LG, Lam TTY, Xu S, Dai Z, Zhou L, Feng T, Guo P, Dunn CW, Jones BR, Bradley T, Zhu H, Guan Y, Jiang Y, Yu G (2019) treeio: an R package for phylogenetic tree input and output with richly annotated and associated data. <i>Molecular Biology and Evolution</i>. <a href="https://doi.org/10.1093/molbev/msz240">doi:10.1093/molbev/msz240</a>. Git code repository: <a href="https://guangchuangyu.github.io/software/treeio/">https://guangchuangyu.github.io/software/treeio/</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Munro C, Siebert S, Zapata F, Howison M, Damian-Serrano A, Church SH, Goetz FE, Pugh PR, Haddock SHD, Dunn CW (2018) Improved phylogenetic resolution within Siphonophora (Cnidaria) with implications for trait evolution. <i>Molecular Phylogenetics and Evolution</i>. <a href="https://doi.org/10.1016/j.ympev.2018.06.030">doi:10.1016/j.ympev.2018.06.030</a>. Preprint: <a href="https://doi.org/10.1101/251116">Link</a>. Git code repository: <a href="https://github.com/caseywdunn/siphonophore_phylogeny_2017">https://github.com/caseywdunn/siphonophore_phylogeny_2017</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Pugh PR, Dunn CW, Haddock SHD (2018) Description of Tottonophyes enigmatica gen. nov., sp. nov. (Hydrozoa, Siphonophora, Calycophorae), with a reappraisal of the function and homology of nectophoral canals. <i>Zootaxa</i> 4415:452-472. <a href="https://doi.org/10.11646/zootaxa.4415.3.3">doi:10.11646/zootaxa.4415.3.3</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Haddock SHD, Christianson LM, Francis WR, Martini S, Dunn CW, Pugh PR, Mills CE, Osborn KJ, Seibel BA, Choy CA, Schnitzler CE, Matsumoto GI, Messi M, Schultz DT, Winnikoff JR, Powers ML, Gasca R, Browne WE, Johnsen S, Schlining KL, von Thun S, Erwin BE, Ryan JF, Thuesen EV (2018) Insights into the Biodiversity, Behavior, and Bioluminescence of Deep-Sea Organisms Using Molecular and Maritime Technology. <i>Oceanography</i> 30:38-47. <a href="https://doi.org/10.5670/oceanog.2017.422">doi:10.5670/oceanog.2017.422</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Zapata F, Munro C, Siebert S, Hejnol A (2018) Pairwise comparisons across species are problematic when analyzing functional genomic data. <i>PNAS</i>. <a href="https://doi.org/10.1073/pnas.1707515115">doi:10.1073/pnas.1707515115</a>. Preprint: <a href="https://doi.org/10.1101/107177">Link</a>. Git code repository: <a href="https://github.com/caseywdunn/comparative_expression_2017">https://github.com/caseywdunn/comparative_expression_2017</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Lewis ZR, Dunn CW (2018) Genome evolution: We are not so special. <i>eLife</i>. <a href="https://doi.org/10.7554/eLife.38726">doi:10.7554/eLife.38726</a>. Git code repository: <a href="https://github.com/dunnlab/gene_inventory_2018">https://github.com/dunnlab/gene_inventory_2018</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Helm RR, Dunn CW (2017) Indoles induce metamorphosis in a broad diversity of jellyfish, but not in a crown jelly (Coronatae). <i>PLoS One</i>. <a href="https://doi.org/10.1371/journal.pone.0188601">doi:10.1371/journal.pone.0188601</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2017) Ctenophore trees. <i>Nature Ecology and Evolution</i>. <a href="https://doi.org/10.1038/s41559-017-0359-4">doi:10.1038/s41559-017-0359-4</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Munro C (2016) Comparative genomics and the diversity of life. <i>Zoologica Scripta</i> 45:5-13. <a href="https://doi.org/10.1111/zsc.12211">doi:10.1111/zsc.12211</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Guang A, Zapata F, Howison M, Lawrence CE, Dunn CW (2016) An Integrated Perspective on Phylogenetic Workflows. <i>Trends in Ecology and Evolution</i> 31:116-126. <a href="https://doi.org/10.1016/j.tree.2015.12.007">doi:10.1016/j.tree.2015.12.007</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Hejnol A, Dunn CW (2016) Animal Evolution: Are Phyla Real?. <i>Current Biology</i> 26:R424-R426. <a href="https://doi.org/10.1016/j.cub.2016.03.058">doi:10.1016/j.cub.2016.03.058</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2015) Acorn worms in a nutshell. <i>Nature</i> 527:448-449. <a href="https://doi.org/10.1038/nature16315">doi:10.1038/nature16315</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Zapata F, Goetz FE, Smith SA, Howison M, Siebert S, Church S, Sanders SM, Ames CL, McFadden CS, France SC, Daly M, Collins AG, Haddock SHD, Dunn CW, Cartwright P (2015) Phylogenomic analyses support traditional relationships within Cnidaria. <i>PLoS One</i> 10:e0139068. <a href="https://doi.org/10.1371/journal.pone.0139068">doi:10.1371/journal.pone.0139068</a>. Preprint: <a href="http://doi.org/10.1101/017632">Link</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/cnidaria2014">https://bitbucket.org/caseywdunn/cnidaria2014</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Ryan JT (2015) The evolution of animal genomes. <i>Current Opinion in Genetics and Development</i> 35:25-32. <a href="https://doi.org/10.1016/j.gde.2015.08.006">doi:10.1016/j.gde.2015.08.006</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Haddock SH, Dunn CW (2015) Fluorescent proteins function as a prey attractant: experimental evidence from the hydromedusa Olindias formosus and other marine organisms. <i>Biology Open</i> 4:1094-1104. <a href="https://doi.org/10.1242/bio.012138">doi:10.1242/bio.012138</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Church SH, Ryan JF, Dunn CW (2015) Automation and Evaluation of the SOWH Test of Phylogenetic Topologies with SOWHAT. <i>Systematic Biology</i> 64:1048-1058. <a href="https://doi.org/10.1093/sysbio/syv055">doi:10.1093/sysbio/syv055</a>. Preprint: <a href="http://doi.org/10.1101/005264">Link</a>. Git code repository: <a href="https://github.com/josephryan/sowhat">https://github.com/josephryan/sowhat</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Laumer CE, Bekkouche N, Kerbl A, Goetz F, Neves RC, Sorensen MV, Kristensen RM, Hejnol A, Dunn CW, Giribet G, Worsaae K (2015) Spiralian Phylogeny Informs the Evolution of Microscopic Lineages. <i>Current Biology</i> 25:2000-2006. <a href="https://doi.org/10.1016/j.cub.2015.06.068">doi:10.1016/j.cub.2015.06.068</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Church SH, Siebert S, Bhattacharyya P, Dunn CW (2015) The Histology of Nanomia bijuga (Hydrozoa: Siphonophora). <i>J. Exp. Zool. (Mol. Dev. Evol.)</i> 324:435-449. <a href="https://doi.org/10.1002/jez.b.22629">doi:10.1002/jez.b.22629</a>. Preprint: <a href="http://doi.org/10.1101/010868">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Siebert S, Goetz FE, Church SH, Bhattacharyya P, Zapata F, Haddock SHD, Dunn CW (2015) Stem Cells in a Colonial Animal with Localized Growth Zones. <i>EvoDevo</i> 6:22. <a href="https://doi.org/10.1186/s13227-015-0018-2">doi:10.1186/s13227-015-0018-2</a>. Preprint: <a href="http://doi.org/10.1101/001685">Link</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/siebert_etal">https://bitbucket.org/caseywdunn/siebert_etal</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Salinas-Saavedra M, Stephenson TQ, Dunn CW, Martindale MQ (2015) Par system components are asymmetrically localized in ectodermal epithelia, but not during early development in the sea anemone Nematostella vectensis. <i>EvoDevo</i> 6:20. <a href="https://doi.org/10.1186/s13227-015-0014-6">doi:10.1186/s13227-015-0014-6</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Helm RR, Tiozzo S, Lilley MKS, Lombard F, Dunn CW (2015) Comparative muscle development of scyphozoan jellyfish with simple and complex life cycles. <i>EvoDevo</i> 6:11. <a href="https://doi.org/10.1186/s13227-015-0005-7">doi:10.1186/s13227-015-0005-7</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Leys SP, Haddock SHD (2015) The hidden biology of sponges and ctenophores. <i>Trends in Ecology and Evolution</i> 30:282-291. <a href="https://doi.org/10.1016/j.tree.2015.03.003">doi:10.1016/j.tree.2015.03.003</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Reich A, Dunn CW, Akasaka K, Wessel G (2015) Phylogenomic Analyses of Echinodermata Support the Sister Groups of Asterozoa and Echinozoa. <i>PLoS One</i> 10:e0119627. <a href="https://doi.org/10.1371/journal.pone.0119627">doi:10.1371/journal.pone.0119627</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Gonzalez VL, Andrade SCS, Bieler R, Collins TM, Dunn CW, Mikkelsen PM, Taylor JD, Giribet G (2015) A phylogenetic backbone for Bivalvia: an RNA-seq approach. <i>Proceedings of the Royal Society B: Biological Sciences</i> 282:20142332. <a href="https://doi.org/10.1098/rspb.2014.2332">doi:10.1098/rspb.2014.2332</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Giribet G, Edgecombe GD, Hejnol A (2014) Animal Phylogeny and its Evolutionary Implications. <i>Annual Review of Ecology, Evolution, and Systematics</i> 45:371-395. <a href="https://doi.org/10.1146/annurev-ecolsys-120213-091627">doi:10.1146/annurev-ecolsys-120213-091627</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Zapata F, Wilson NG, Howison M, Andrade SCS, Jörger KM, Schrödl M, Goetz FE, Giribet G, Dunn CW (2014) Phylogenomic analyses of deep gastropod relationships reject Orthogastropoda. <i>Proceedings of the Royal Society B: Biological Sciences</i> 281:1471-2954. <a href="https://doi.org/10.1098/rspb.2014.1739">doi:10.1098/rspb.2014.1739</a>. Preprint: <a href="http://doi.org/10.1101/007039">Link</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/gastropoda">https://bitbucket.org/caseywdunn/gastropoda</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2014) Reconsidering the phylogenetic utility of miRNA in animals. <i>PNAS</i> 111:12576-12577. <a href="https://doi.org/10.1073/pnas.1413545111">doi:10.1073/pnas.1413545111</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Howison M, Zapata F, Edwards EJ, Dunn CW (2014) Bayesian genome assembly and assessment by Markov Chain Monte Carlo sampling. <i>PLoS One</i> 9:e99497. <a href="https://doi.org/10.1371/journal.pone.0099497">doi:10.1371/journal.pone.0099497</a>. Preprint: <a href="http://arxiv.org/abs/1308.1388">Link</a>. Git code repository: <a href="https://bitbucket.org/mhowison/gabi">https://bitbucket.org/mhowison/gabi</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Lopez J, Bracken-Grissom H, Collins A, Collins T, Crandall K, Distel D, Dunn C, et al. (2014) Global Invertebrate Genomics Alliance (GIGA): Developing Community Resources to Study Diverse Invertebrate Genomes. <i>Journal of Heredity</i> 105:1-18. <a href="https://doi.org/10.1093/jhered/est084">doi:10.1093/jhered/est084</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2014) Keeping Mates Close and Competition Out in an Ocean Sponge. <i>New York Times</i>. <a href="http://www.nytimes.com/2014/11/13/science/keeping-mates-close-and-competition-out-in-an-ocean-sponge.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2014) Fiery Bodies Under the Waves. <i>New York Times</i>. <a href="http://www.nytimes.com/2014/08/14/science/a-colonizing-fire-of-giant-plankton.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2014) A Marine Magician's Vanishing Act. <i>New York Times</i>. <a href="http://www.nytimes.com/2014/05/28/science/a-marine-magicians-vanishing-act.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2014) A Cloak of Near Invisibility in an Underwater World. <i>New York Times</i>. <a href="http://www.nytimes.com/2014/04/24/science/a-cloak-of-near-invisibility-in-an-underwater-world.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2014) Two Urchins, Similar but Not. <i>New York Times</i>. <a href="http://www.nytimes.com/2014/02/26/science/two-urchins-similar-but-not.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2014) Poisonous Prey Turned Into Hunter's Defense. <i>New York Times</i>. <a href="http://www.nytimes.com/2014/02/13/science/poisonous-prey-turned-into-hunters-defense.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2014) Moving, Without Feet to Do So. <i>New York Times</i>. <a href="http://www.nytimes.com/2014/01/23/science/earth/moving-without-feet-to-do-so.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Ryan JF, Pang K, Schnitzler CE, Nguyen A, Moreland RT, Simmons DK, Koch BJ, Francis WR, Havlak P, Comparative Sequencing Program NISC, Smith SA, Putnam NH, Haddock SHD, Dunn CW, Wolfsberg TG, Mullikin JC, Martindale MQ, Baxevanis AD (2013) The genome of the ctenophore Mnemiopsis leidyi and its implications for cell type evolution. <i>Science</i> 432:1242592. <a href="https://doi.org/10.1126/science.1242592">doi:10.1126/science.1242592</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Howison M, Zapata F (2013) Agalma: an automated phylogenomics workflow. <i>BMC Bioinformatics</i> 14:330. <a href="https://doi.org/10.1186/1471-2105-14-330">doi:10.1186/1471-2105-14-330</a>. Preprint: <a href="http://arxiv.org/abs/1307.6432">Link</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/agalma">https://bitbucket.org/caseywdunn/agalma</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Howison M, Zapata F, Dunn CW (2013) Toward a statistically explicit understanding of de novo sequence assembly. <i>Bioinformatics</i> 29:2959-2963. <a href="https://doi.org/10.1093/bioinformatics/btt525">doi:10.1093/bioinformatics/btt525</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Siebert S, Pugh PR, Haddock SHD, Dunn CW (2013) Re-evaluation of characters in Apolemiidae (Siphonophora), with description of two new species from Monterey Bay, California. <i>Zootaxa</i> 3702:201-232. <a href="http://www.mapress.com/zootaxa/2013/f/zt03702p232.pdf">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Luo X, Wu Z (2013) Phylogenetic analysis of gene expression. <i>Integrative and Comparative Biology</i> 53:847-856. <a href="https://doi.org/10.1093/icb/ict068">doi:10.1093/icb/ict068</a>. Preprint: <a href="http://arxiv.org/abs/1302.2978">Link</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/sicb2013">https://bitbucket.org/caseywdunn/sicb2013</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Helm RR, Siebert S, Tulin S, Smith J, Dunn CW (2013) Characterization of differential transcript abundance through time during Nematostella vectensis development. <i>BMC Genomics</i> 14:266. <a href="https://doi.org/10.1186/1471-2164-14-266">doi:10.1186/1471-2164-14-266</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/helm_etal_2013">https://bitbucket.org/caseywdunn/helm_etal_2013</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2013) The Color of Royalty, Bestowed by Science and Snails. <i>New York Times</i>. <a href="http://www.nytimes.com/2013/10/09/science/the-color-of-royalty-bestowed-by-science-and-snails.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2013) As 'Normal' as Rabbits' Weights and Dragons' Wings. <i>New York Times</i>. <a href="http://www.nytimes.com/2013/09/24/science/as-normal-as-rabbits-weights-and-dragons-wings.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2013) Sex in Spoonworms. <i>New York Times</i>. <a href="http://www.nytimes.com/2013/09/17/science/creatures-strange-and-complex-in-colorful-detail.html">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2013) Evolution: Out of the ocean. <i>Current Biology</i> 23:R242-R243. <a href="https://doi.org/10.1016/j.cub.2013.01.067">doi:10.1016/j.cub.2013.01.067</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Howison M, Sinnott-Armstrong N, Dunn CW (2012) BioLite, a lightweight bioinformatics framework with automated tracking of diagnostics and provenance. <i>4th USENIX Workshop on the Theory and Practice of Provenance (TaPP12)</i>. <a href="https://www.usenix.org/system/files/conference/tapp12/tapp12-final5.pdf">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Smith SA, Wilson NG, Goetz F, Feehery C, Andrade SCS, Rouse GW, Giribet G, Dunn CW (2011) Resolving the evolutionary relationships of molluscs with phylogenomic tools. <i>Nature</i> 480:364-367. <a href="https://doi.org/10.1038/nature10526">doi:10.1038/nature10526</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Siebert S, Robinson MD, Tintori SC, Goetz F, Helm RR, Smith SA, Shaner N, Haddock SHD, Dunn CW (2011) Differential Gene Expression in the Siphonophore Nanomia bijuga (Cnidaria) Assessed with Multiple Next-Generation Sequencing Workflows. <i>PLoS One</i> 6:e22953. <a href="https://doi.org/10.1371/journal.pone.0022953">doi:10.1371/journal.pone.0022953</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Edgecombe GD, Giribet G, Dunn CW, Hejnol A, Kristensen RM, Neves RC, Rouse GW, Worsaae K, Sørensen MV (2011) Higher-level metazoan relationships: recent progress and remaining questions. <i>Organisms, Diversity, and Evolution</i> 11:151-172. <a href="https://doi.org/10.1007/s13127-011-0044-4">doi:10.1007/s13127-011-0044-4</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Haddock SHD, Dunn CW (2010) Practical Computing for Biologists.  <a href="http://practicalcomputing.org">Link</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Giribet G, Dunn CW, Edgecombe GD, Hejnol A, Martindale MQ, Rouse GW (2009) Assembling the spiralian tree of life. <i>Animal Evolution</i>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Hejnol A, Obst M, Stamatakis A, Ott M, Rouse G, Edgecombe G, Martinez P, Baguñà J, Bailly X, Jondelius U, Wiens M, Müller WEG, Seaver E, Wheeler WC, Martindale MQ, Giribet G, Dunn CW (2009) Assessing the root of bilaterian animals with scalable phylogenomic methods. <i>Proc. R. Soc. B.</i> 276:4261-4270. <a href="https://doi.org/10.1098/rspb.2009.0896">doi:10.1098/rspb.2009.0896</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/hejnol_etal_2009">https://bitbucket.org/caseywdunn/hejnol_etal_2009</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2009) Siphonophores. <i>Current Biology</i> 19:R233-R234. <a href="https://doi.org/10.1016/j.cub.2009.02.009">doi:10.1016/j.cub.2009.02.009</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Cartwright P, Evans NM, Dunn CW, Marques AC, Miglietta MP, Schuchert P, Collins AG (2008) Phylogenetics of Hydroidolina (Hydrozoa: Cnidaria). <i>Journal of the Marine Biological Association of the United Kingdom</i> 88:1663-1672. <a href="https://doi.org/10.1017/S0025315408002257">doi:10.1017/S0025315408002257</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Hejnol A, Matus DQ, Pang K, Browne WE, Smith SA, Seaver E, Rouse GW, Obst M, Edgecombe GD, Sørensen MV, Haddock SHD, Schmidt-Rhaesa A, Okusu A, Kristensen RM, Wheeler WC, Martindale MQ, Giribet G (2008) Broad phylogenomic sampling improves resolution of the Animal Tree of Life. <i>Nature</i> 452:745-749. <a href="https://doi.org/10.1038/nature06614">doi:10.1038/nature06614</a>. <b>(Cover Article)</b></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Smith SA, Dunn CW (2008) Phyutility: a phyloinformatics tool for trees, alignments, and molecular data. <i>Bioinformatics</i> 24:715-716. <a href="https://doi.org/10.1093/bioinformatics/btm619">doi:10.1093/bioinformatics/btm619</a>. Git code repository: <a href="https://code.google.com/p/phyutility">https://code.google.com/p/phyutility</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Mills CE, Marques AC, Migotto AE, Calder DR, Hand C, Rees JT, Haddock SHD, Dunn CW, Pugh PR (2007) Hydrozoa: Polyps, Hydromedusae, and Siphonophora. <i>The Light & Smith manual: intertidal invertebrates from central California to Oregon, 4th edition</i>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Giribet G, Dunn CW, Edgecombe GD, Rouse GW (2007) A modern look at the Animal Tree of Life. <i>Zootaxa</i> 1668:61-79.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Oota H, Dunn CW, Speed WC, Pakstis AJ, Palmatier MA, Kidd JR, Kidd KK (2007) Conservative evolution in duplicated genes of the primate Class I ADH cluster. <i>Gene</i> 392:64-76. <a href="https://doi.org/10.1016/j.gene.2006.11.008">doi:10.1016/j.gene.2006.11.008</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Wagner GP (2006) The evolution of colony-level development in the Siphonophora (Cnidaria:Hydrozoa). <i>Development, Genes, and Evolution</i> 216:743-754. <a href="https://doi.org/10.1007/s00427-006-0101-8">doi:10.1007/s00427-006-0101-8</a>. <b>(Cover Article)</b></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Matus DQ, Pang K, Marlow H, Dunn CW, Thomsen GH, Martindale MQ (2006) Deep evolutionary roots for bilaterality in the metazoa. <i>Proceedings of the National Academy of Sciences USA</i> 103:11195-11200. <a href="https://doi.org/10.1073/pnas.0601257103">doi:10.1073/pnas.0601257103</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Matus DQ, Copley RR, Dunn CW, Hejnol A, Eccleston H, Halanych KM, Martindale MQ, Telford MJ (2006) Broad Taxon and Gene Sampling Indicate that Chaetognaths Are Protostomes. <i>Current Biology</i> 16:R575-R576. <a href="https://doi.org/10.1016/j.cub.2006.07.017">doi:10.1016/j.cub.2006.07.017</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Pugh PR, Haddock SHD (2005) Molecular phylogenetics of the Siphonophora (Cnidaria), with implications for the evolution of functional specialization. <i>Systematic Biology</i> 54:916-935. <a href="https://doi.org/10.1080/10635150500354837">doi:10.1080/10635150500354837</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/siphonophores_2005">https://bitbucket.org/caseywdunn/siphonophores_2005</a>. <b>(Cover Article)</b></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW (2005) The complex colony-level organization of the deep-sea siphonophore Bargmannia elongata (Cnidaria, Hydrozoa) is directionally asymmetric and arises by the subdivision of pro-buds. <i>Developmental Dynamics</i> 234:835-845. <a href="https://doi.org/10.1002/dvdy.20483">doi:10.1002/dvdy.20483</a>. <b>(Cover Article)</b></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Haddock SHD, Dunn CW, Pugh PR, Schnitzler CE (2005) Bioluminescent and red-fluorescent lures in a deep-sea siphonophore. <i>Science</i> 309:263. <a href="https://doi.org/10.1126/science.1110441">doi:10.1126/science.1110441</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Dunn CW, Pugh PR, Haddock SHD (2005) Marrus claudanielis, a new species of deep-sea physonect siphonophore (Siphonophora, Physonectae). <i>Bulletin of Marine Science</i> 76:699-714.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Haddock SHD, Dunn CW, Pugh PR (2005) A reexamination of siphonophore terminology and morphology, applied to the description of two new prayine species with remarkable bio-optical properties. <i>Journal of the Marine Biological Association of the U.K.</i> 85:695-707. <a href="https://doi.org/10.1017/S0025315405011616">doi:10.1017/S0025315405011616</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Haddock SHD, Dunn CW (2005) The complex world of siphonophores. <i>JMBA Global Marine Environment</i> 2005:24-25.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p class="text-muted">Lynch VJ, Roth JJ, Takahashi K, Dunn CW, Nonaka DF, Stopper G, Wagner GP (2004) Adaptive evolution of HoxA-11 and HoxA-13 at the origin of the uterus in mammals. <i>Proceedings of the Royal Society B: Biological Sciences</i> 271:2201-2207. <a href="https://doi.org/10.1098/rspb.2004.2848">doi:10.1098/rspb.2004.2848</a>.</p>
</div><div class="box-footer"> </div></div>


    </div>
</section>
