<!-- Publications Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                </div>
            </div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW (2014) Reconsidering the phylogenetic utility of miRNA in animals. PNAS. <a href="http://dx.doi.org/10.1073/pnas.1413545111">doi:10.1073/pnas.1413545111</a>. </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Zapata, F, NG Wilson, M Howison, SCS Andrade, KM Jörger, Michael Schrödl, Freya E Goetz, Gonzalo Giribet, Casey W Dunn (preprint) Phylogenomic analyses of deep gastropod relationships reject Orthogastropoda. Proceedings of the Royal Society B: Biological Sciences 281:1471-2954. <a href="http://dx.doi.org/10.1098/rspb.2014.1739">doi:10.1098/rspb.2014.1739</a>. <a href="http://dx.doi.org/10.1101/007039">bioRxiv preprint: doi:10.1101/007039</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/gastropoda">https://bitbucket.org/caseywdunn/gastropoda</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Church, SH, JF Ryan, CW Dunn (preprint) Automation and Evaluation of the SOWH Test of Phylogenetic Topologies with SOWHAT. BioRxiv. <a href="http://dx.doi.org/10.1101/005264">bioRxiv preprint: doi:10.1101/005264</a>. Git code repository: <a href="https://github.com/josephryan/sowhat">https://github.com/josephryan/sowhat</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Siebert, S, FE Goetz, SH Church, P Bhattacharyya, F Zapata, SHD Haddock, and CW Dunn. (preprint) Stem Cells in a Colonial Animal with Localized Growth Zones. <a href="http://dx.doi.org/10.1101/001685">bioRxiv preprint: doi:10.1101/001685</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/siebert_etal">https://bitbucket.org/caseywdunn/siebert_etal</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Howison, M, F Zapata, EJ Edwards, and CW Dunn (2014) Bayesian genome assembly and assessment by Markov Chain Monte Carlo sampling. PLoS One 9:e99497. <a href="http://dx.doi.org/10.1371/journal.pone.0099497">doi:10.1371/journal.pone.0099497</a>. <a href="http://arxiv.org/abs/1308.1388">arXiv preprint: 1308.1388</a>. Git code repository: <a href="https://bitbucket.org/mhowison/gabi">https://bitbucket.org/mhowison/gabi</a>. Example analysis report: <a href="https://web3.ccv.brown.edu/mhowison/gabi-report/">https://web3.ccv.brown.edu/mhowison/gabi-report/</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Lopez, J, H Bracken-Grissom, A Collins, T Collins, K Crandall, D Distel, C Dunn, et al. (2014) Global Invertebrate Genomics Alliance (GIGA): Developing Community Resources to Study Diverse Invertebrate Genomes. Journal of Heredity 105:1-18. <a href="http://dx.doi.org/10.1093/jhered/est084">doi:10.1093/jhered/est084</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Ryan, JF, K Pang, CE Schnitzler, A Nguyen, RT Moreland, DK Simmons, BJ Koch, WR Francis, P Havlak, NISC Comparative Sequencing Program, SA Smith, NH Putnam, SHD Haddock, CW Dunn, TG Wolfsberg, JC Mullikin, MQ Martindale, AD Baxevanis (2013) The genome of the ctenophore <i>Mnemiopsis leidyi</i> and its implications for cell type evolution. Science 432:1242592. <a href="http://dx.doi.org/10.1126/science.1242592">doi:10.1126/science.1242592</a>, <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3920664/">PMC3920664</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">CW Dunn, M Howison, and F Zapata (2013) Agalma: an automated phylogenomics workflow. BMC Bioinformatics 14:330. <a href="http://dx.doi.org/10.1186/1471-2105-14-330">doi:10.1186/1471-2105-14-330</a>. <a href="http://arxiv.org/abs/1307.6432">arXiv preprint: 1307.6432</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/agalma">https://bitbucket.org/caseywdunn/agalma</a> (software), <a href="https://bitbucket.org/caseywdunn/dunnhowisonzapata2013">https://bitbucket.org/caseywdunn/dunnhowisonzapata2013</a> (analyses).</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Howison, M, F Zapata, CW Dunn (2013) Toward a statistically explicit understanding of de novo sequence assembly. Bioinformatics 29:2959-2963. <a href="http://dx.doi.org/10.1093/bioinformatics/btt525">doi:10.1093/bioinformatics/btt525</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Siebert, S, PR Pugh, SHD Haddock, CW Dunn (2013) Re-evaluation of characters in Apolemiidae (Siphonophora), with description of two new species from Monterey Bay, California. Zootaxa 3702: 201–232. <a href="http://dx.doi.org/10.11646/zootaxa.3702.3.1">doi:10.11646/zootaxa.3702.3.1</a> (<a href="http://www.mapress.com/zootaxa/2013/f/zt03702p232.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, X Luo, Z Wu (2013) Phylogenetic analysis of gene expression. Integrative and Comparative Biology 53:847-856. <a href="http://dx.doi.org/10.1093/icb/ict068">doi:10.1093/icb/ict068</a>. <a href="http://arxiv.org/abs/1302.2978">arXiv preprint: 1302.2978</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/sicb2013">https://bitbucket.org/caseywdunn/sicb2013</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Helm, RR, S Siebert, S Tulin, J Smith, CW Dunn (2013) Characterization of differential transcript abundance through time during <i>Nematostella vectensis</i> development. BMC Genomics 14:266.  <a href="http://dx.doi.org/10.1186/1471-2164-14-266">doi:10.1186/1471-2164-14-266</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/helm_etal_2013">https://bitbucket.org/caseywdunn/helm_etal_2013</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW (2013) Evolution: Out of the Ocean. Current Biology 23:R242-R243. <a href="http://dx.doi.org/10.1016/j.cub.2013.01.067">doi:10.1038/10.1016/j.cub.2013.01.06</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Howison, M, N Sinnott-Armstrong, CW Dunn (2012) BioLite, a lightweight bioinformatics framework with automated tracking of diagnostics and provenance. 4th USENIX Workshop on the Theory and Practice of Provenance (TaPP12). <a href="https://www.usenix.org/conference/tapp12/biolite-lightweight-bioinformatics-framework-automated-tracking-diagnostics-and">video</a>, <a href="https://www.usenix.org/system/files/conference/tapp12/tapp12-final5.pdf">pdf</a>. Git code repository: <a href="https://bitbucket.org/caseywdunn/biolite">https://bitbucket.org/caseywdunn/biolite</a>.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Smith, SA, NG Wilson, F Goetz, C Feehery, SCS Andrade, GW Rouse, G Giribet, CW Dunn (2011) Resolving the evolutionary relationships of molluscs with phylogenomic tools. Nature 480:364-367. <a href="http://dx.doi.org/10.1038/nature10526">doi:10.1038/nature10526</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Siebert, S,  MD Robinson, SC Tintori, F Goetz, RR Helm, SA Smith, N Shaner, SHD Haddock, CW Dunn (2011) Differential Gene Expression in the Siphonophore <i>Nanomia bijuga</i> (Cnidaria) Assessed with Multiple Next-Generation Sequencing Workflows. PLoS One 6(7): e22953. <a href="http://dx.doi.org/10.1371/journal.pone.0022953">doi:10.1371/journal.pone.0022953</a> (<a href="assets/Siebert_etal2011.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Edgecombe, GD, G Giribet, CW Dunn, A Hejnol, RM Kristensen, RC Neves, GW Rouse, K Worsaae, and MV Sørensen (2011) Higher-level metazoan relationships: recent progress and remaining questions. Organisms, Diversity, and Evolution. <a href="http://dx.doi.org/10.1007/s13127-011-0044-4">doi:10.1007/s13127-011-0044-4</a> (<a href="assets/Edgecombe_etal_2011.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haddock, SHD and CW Dunn (2011) Practical Computing for Biologists. Sinauer Associates (Sunderland, MA). <a href="http://practicalcomputing.org/">Book Site</a>, <a href="http://www.sinauer.com/detail.php?id=3914">Read more at the publisher's site</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Hejnol, A, M Obst, A Stamatakis, M Ott, G Rouse, G Edgecombe, P Martinez, J Baguñà, X Bailly, U Jondelius, M Wiens, WEG Müller, Elaine Seaver, WC Wheeler, MQ Martindale, G Giribet, and CW Dunn (2009) Assessing the root of bilaterian animals with scalable phylogenomic methods. Proc. R. Soc. B. 276:4261-4270 <a href="http://dx.doi.org/10.1098/rspb.2009.0896">doi:10.1098/rspb.2009.0896</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW (2009) Siphonophores. Current Biology 19:R233-R234. <a href="http://dx.doi.org/10.1016/j.cub.2009.02.009">doi:10.1016/j.cub.2009.02.009</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Giribet, G, CW Dunn, GD Edgecombe, A Hejnol, MQ Martindale, and GW Rouse (2009) Assembling the spiralian tree of life (p 52-64) In: Animal Evolution. MJ Telford and DTJ Littlewood (eds). Oxford University Press.</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Cartwright, P, NM Evans, CW Dunn, AC Marques, MP Miglietta, P Schuchert, and AG Collins (2008) Phylogenetics of Hydroidolina (Hydrozoa: Cnidaria). Journal of the Marine Biological Association of the United Kingdom. 88:1663-1672. <a href="http://dx.doi.org/10.1017/S0025315408002257">doi:10.1017/S0025315408002257</a> (<a href="assets/Cartwright_etal2008.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, A Hejnol, DQ Matus, K Pang, WE Browne, SA Smith, E Seaver, GW Rouse, M Obst, GD Edgecombe, MV Sorensen, SHD Haddock, A Schmidt-Rhaesa, A Okusu, RM Kristensen, WC Wheeler, MQ Martindale, and G Giribet (2008) Broad phylogenomic sampling improves resolution of the Animal Tree of Life. Nature. 452:745-749. <a href="http://dx.doi.org/10.1038/nature06614">doi:10.1038/nature06614</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Smith, SA and CW Dunn (2008) Phyutility: a phyloinformatics tool for trees, alignments, and molecular data. Bioinformatics. 24:715-716. <a href="http://dx.doi.org/10.1093/bioinformatics/btm619">doi:10.1093/bioinformatics/btm619</a> (<a href="assets/Smith_Dunn2008.pdf">pdf</a>). Code repository: <a href="https://code.google.com/p/phyutility/">https://code.google.com/p/phyutility</a></p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Giribet, G, CW Dunn, GD Edgecombe, and GW Rouse (2007) A modern look at the Animal Tree of Life. Zootaxa 1668:61-79. (<a href="assets/Giribet_etal2007.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
    <p class="text-muted">Oota, H, CW Dunn, WC Speed, AJ Pakstis, MA Palmatier, JR Kidd and KK Kidd (2007) Conservative evolution in duplicated genes of the primate Class I ADH cluster. Gene. 392:64-76. <a href="http://dx.doi.org/10.1016/j.gene.2006.11.008">doi:10.1016/j.gene.2006.11.008</a> (<a href="assets/Oota_etal2007.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Mills, CE, AC Marques, AE Migotto, DR Calder, C Hand, JT Rees, SHD Haddock, CW Dunn, and PR Pugh. (2007) Hydrozoa: Polyps, Hydromedusae, and Siphonophora. In: The Light &amp; Smith manual: intertidal invertebrates from central California to Oregon, 4th edition. JT Carlton (ed). University of California Press. </p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
    <p class="text-muted">Dunn, CW and GP Wagner (2006) The evolution of colony-level development in the Siphonophora (Cnidaria:Hydrozoa). Development, Genes, and Evolution. 216:743-754. <a href="http://dx.doi.org/10.1007/s00427-006-0101-8">doi:10.1007/s00427-006-0101-8</a> (<a href="assets/Dunn_Wagner2006.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Matus, DQ, K Pang, H Marlow, CW Dunn, GH Thomsen, and MQ Martindale (2006) Deep evolutionary roots for bilaterality in the metazoa. Proceedings of the National Academy of Sciences USA 103:11195-11200. <a href="http://dx.doi.org/10.1073/pnas.0601257103">doi:10.1073/pnas.0601257103</a> (<a href="assets/Matus_etal2006-bilaterality.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Matus, DQ, RR Copley, CW Dunn, A Hejnol, H Eccleston, KM Halanych, MQ Martindale, and MJ Telford (2006) Broad Taxon and Gene Sampling Indicate that Chaetognaths Are Protostomes. Current Biology 16:R575-R576 <a href="http://dx.doi.org/10.1016/j.cub.2006.07.017">doi:10.1016/j.cub.2006.07.017</a> (<a href="assets/Matus_etal2006-chaetognaths.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, PR Pugh, and SHD Haddock (2005) Molecular phylogenetics of the Siphonophora (Cnidaria), with implications for the evolution of functional specialization. Systematic Biology 54:916-935. <a href="http://dx.doi.org/10.1080/10635150500354837">doi:10.1080/10635150500354837</a> (<a href="assets/Dunn_etal2005_siphonophore_phylogeny.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW (2005) The complex colony-level organization of the deep-sea siphonophore <i>Bargmannia elongata</i> (Cnidaria, Hydrozoa) is directionally asymmetric and arises by the subdivision of pro-buds. Developmental Dynamics. 234:835-834. <a href="http://dx.doi.org/10.1002/dvdy.20483">doi:10.1002/dvdy.20483</a> (<a href="assets/Dunn2005_Bargmannia.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Dunn, CW, PR Pugh, and SHD Haddock (2005) <i>Marrus claudanielis</i>, a new species of deep-sea physonect siphonophore (Siphonophora, Physonectae). Bull. Mar. Sci. 76:699-714. (<a href="assets/Dunn-etal2005_Marrus.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haddock, SHD, CW Dunn, PR Pugh. and C.E. Schnitzler. (2005) Bioluminescent and red-fluorescent lures in a deep-sea siphonophore. Science. 309:263. <a href="http://dx.doi.org/10.1126/science.1110441">doi:10.1126/science.1110441</a> (<a href="assets/haddock-etal2005_erenna.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haddock, SHD, CW Dunn, and PR Pugh (2005) A reexamination of siphonophore terminology and morphology, applied to the description of two new prayine species with remarkable bio-optical properties. J. Mar. Biol. Assoc. U.K. 85:695-707. <a href="http://dx.doi.org/10.1017/S0025315405011616">doi:10.1017/S0025315405011616</a> (<a href="assets/Haddock-etal2005.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Haddock, SHD and CW Dunn (2005) The complex world of siphonohpores. JMBA Global Marine Environment 2005(2):24-25. (<a href="assets/Haddock-Dunn2005_jmba-siphs.pdf">pdf</a>)</p>	
</div><div class="box-footer"></div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p class="text-muted">Lynch, VJ, JJ Roth, K Takahashi, CW Dunn, DF Nonaka, G Stopper and GP Wagner (2004) Adaptive evolution of HoxA-11 and HoxA-13 at the origin of the uterus in mammals. Proceedings of the Royal Society B: Biological Sciences 271:2201-2207. <a href="http://dx.doi.org/10.1098/rspb.2004.2848">doi:10.1098/rspb.2004.2848</a> (<a href="assets/Lynch-etal2004.pdf">pdf</a>)</p>
</div><div class="box-footer"></div></div>


</div>
</section>

